name: nexora.krishnat.tech

services:
  backend: 
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        - DATABASE_URL=${DATABASE_URL}
    container_name: nexora-backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - DATABASE_URL=${DATABASE_URL}
    container_name: nexora-frontend
    env_file:
      - ./frontend/.env
    ports:
      - "3000:3000"
    restart: always
    
  worker: 
    build:
      context: ./worker
      dockerfile: Dockerfile
      args:
        - DATABASE_URL=${DATABASE_URL}
    container_name: nexora-worker
    env_file:
      - ./worker/.env
    restart: always
